*{
    box-sizing: border-box;
}
header img {
    transition: box-shadow 0.3s ease; /* zorgt voor vloeiende overgang */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

header img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
header h1{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;

}