*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: ghostwhite;
}


main img {
    transition: box-shadow 0.3s ease; /* vloeiende overgang */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 1em;

}

main img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
main {
    margin: 1% 10% 1% 10%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    color: white;
    text-align: center;
    padding: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
#intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#introtextbig{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-style: italic;
}
#introtextsmall{
    display: flex;
    flex-direction: column;
    font-size: large;
    }
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    font-size: large;
}
footer{
    background-color: darkseagreen;
    color: white;
    padding: 12px;
}
footer a{
    text-decoration: none;
    color: white;
}
#middleContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}
.links{
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 1em;
}
#talentabel{
    border-collapse: collapse;
    width: 100%;
}
#talentabel tr, td{
    /* Volgens de opdracht "moeten" de oneven velden anders worden gestyled, maar ik vind dit mooier"*/
    border: 1px solid darkslategray;
    text-align: center;
    padding: 12px 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* subtiele schaduw */


}
#talentabel .index{
    background-color: darkseagreen;
    color: white;
    text-align: center;
    font-weight: bold;
}
#talenlijst{
    display: flex;
    gap: 1em;
}
#taal, #spraak, #schrijven-lezen{
    list-style-type: none;
                           }
.taallijstindex{
    font-size: large;
    font-weight: bold;
    color: darkseagreen;
    text-decoration: underline;
}
.werkgever{
    font-size: large;
    text-decoration: none;
    background-color: lightgray;
    color: darkgreen;
    padding: 5px;
    border: 1px solid darkslategray;
    border-radius: 15px;
}
.werkgever:hover{
    background-color: darkseagreen;
    font-size: larger;
    color: white;
    padding: 10px;
}
#workskills li{
    padding: 10px;
    list-style: none;
}
.functie{
    list-style: none;
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
}
.takenpakket{
    margin-top: 5px;
    list-style: none;
}
#interests, #Hobbys{
    display: flex;
    flex-direction: column;
}
.containerHobbyAndInterest{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}
.rechts{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*Hier pas de mediaquerry's toevoegen*/
@media screen and (min-width: 992px){ /* Standaard getoont*/
   #talenlijst{
       display: none;
   }
    #introtextsmall{
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){ /* Tablat grote */
    body{
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    #introtextsmall{
        display: none;
    }
    #talenlijst{
        display: none;
    }
    #middleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }
    #intro{
        display: flex;
        flex-direction: column;
        font-size: large;
        font-style: italic;
    }
    #talentabel tr, td{
        border: none;
        text-align: center;
        padding: 12px 15px;
        box-shadow: none;
    }
}
@media screen and (max-width: 576px) { /* gsm grote */
    body{
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    #middleContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }
    #intro{
            display: flex;
            flex-direction: column;
            font-size: large;
            font-style: italic;
        }
    #workskills {
        text-align: center;
    }
    #talentabel{
        display: none;
    }
    #introtextbig{
        display: none;
    }
    .functie{
        list-style: none;
        font-weight: bold;
        font-size: large;
    }
    #name{
        text-align: center;
    }
    }

